/* Write your CSS code here */
.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-btn {
  border: 1px solid black;
  padding: 4px;
  font-family: 'Roboto';
  font-size: 14px;
}

.heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  padding: 3px;
  margin: 2px;
}
